<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%=blocks.title%></title>
	</head>
	<body>
		<header>
			<%-blocks.header%>
		</header>
		<section id="container">
			<%-body -%>
		</section>
		<footer>
			<%-blocks.footer%>
		</footer>
		<script type="text/javascript" src=<%-blocks.main_script%> ></script>
	</body>
</html>