<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%=blocks.title%></title>
	</head>
	<body>
		<header>
			<%-blocks.header%>
		</header>
		<section id="container">
			<%-partial('../partials/topNavigation')%>

			<%-body -%>
		</section>
		<footer>
			<%-blocks.footer%>
		</footer>
	</body>
</html>